<style>
  .page-footer {
    background-color: #0F263A;
    color: #E5781E;
  }     
</style>
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5>{{site.title}}</h5>
          <p>{{site.description}}</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5>Contact us</h5>
          <ul>
            <li><a href="#!">Address</a></li>
            <li><a href="#!">Phone Number</a></li>
            <li><a href="#!">Social handle 1</a></li>
            <li><a href="#!">Social handle 2</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Copyright © 2019 SEZ Engineering
      </div>
    </div>
</footer>
          