<style> 
    .slider .slides li .caption {
        background-color: #E5781E;
        border-radius: .3rem;
        color: #0F263A;
        padding: 4.5rem;
    }
</style>
<div class="slider">
    <ul class="slides">
      <li>
        <img src="https://i.ibb.co/pbjB5bW/18032016-rs84621-rt-wilhelmshaven-headerbild-oil-and-gas-image-w2000-h670.jpg"> <!--image url for slider -->
        <div class="caption center-align">
          <h3>Refinery</h3>
          <h5 class="light text-slider">Incredable engineering and science</h5>
        </div>
      </li>
      <li>
        <img src="https://i.ibb.co/41FGYtg/thinkstockphotos-479694445-oil-and-gas-web.jpg"> <!--image url for slider -->
        <div class="caption center-align">
          <h3>Chemical Industry</h3>
          <h5 class="light text-slider">Taking ordinary to extraordinary</h5>
        </div>
      </li>
      <li>
        <img src="https://i.ibb.co/khRJV2N/OilGas.jpg"> <!--image url for slider -->
        <div class="caption center-align">
          <h3>Oil & Gas</h3>
          <h5 class="light text-slider">Engineering is a art of Creative</h5>
        </div>
      </li>
      <li>
        <img src="https://i.ibb.co/WHd34WN/refining-petchem.jpg"> <!--image url for slider -->
        <div class="caption center-align">
          <h3>Petro chemicals</h3>
          <h5 class="light text-slider">provide worldclass concept and solution</h5>
        </div>
      </li>
    </ul>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.slider');
    var instances = M.Slider.init(elems, options);
  });

</script>