<style> 
    .slider .slides li .caption {
        background-color: #E5781E;
        color: #0F263A;
        padding: 4.5rem;
    }
</style>
<div class="slider">
    <ul class="slides">
      <li>
        <img src="https://images.pexels.com/photos/1145434/pexels-photo-1145434.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"> <!--image url for slider -->
        <div class="caption center-align">
          <h3>Refinery</h3>
          <h5 class="light text-slider">Incredable engineering and science</h5>
        </div>
      </li>
      <li>
        <img src="https://images.pexels.com/photos/1468390/pexels-photo-1468390.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"> <!--image url for slider -->
        <div class="caption center-align">
          <h3>Chemical Industry</h3>
          <h5 class="light text-slider">Taking ordinary to extraordinary</h5>
        </div>
      </li>
      <li>
        <img src="https://images.pexels.com/photos/326410/pexels-photo-326410.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"> <!--image url for slider -->
        <div class="caption center-align">
          <h3>Oil & Gas</h3>
          <h5 class="light text-slider">Engineering is a art of Creative</h5>
        </div>
      </li>
      <li>
        <img src="https://images.pexels.com/photos/209251/pexels-photo-209251.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"> <!--image url for slider -->
        <div class="caption center-align">
          <h3>Petro chemicals</h3>
          <h5 class="light text-slider">provide worldclass concept and solution</h5>
        </div>
      </li>
    </ul>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.slider');
    var instances = M.Slider.init(elems, options);
  });

</script>